<h1>Listing posts</h1>

<% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <br>
    <p><%= post.content %></p>
    <br>
    <%= link_to 'Voir', post %>
    <%= link_to 'Editer', edit_post_path(post)  %>
    <%= link_to 'Supprimer', post, confirm: "Voulez vous vraiment le supprimer ?", method: :delete %>
<% end %>

<div style="background-color: #D7A82E;"><%= will_paginate @posts %></div>


<br />

<%= link_to 'New Post', new_post_path %>
