<!DOCTYPE html>
<html>
<head>
  <title>Webstrat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main_header">
  <div id="main_header_container">
    <h1><%= image_tag("titreLE.png") %></h1>
  </div>
</div>


<div id="main_container">

    <div id="container_left">

    </div>

    <div id="container_center">
    <%= yield %>
    </div>
</div>

</body>
</html>
